/* General Styles */
body {
    background: linear-gradient(to bottom, #3a6186, #89253e);
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 3rem;
    color: #f5f5f5;
}

/* Main Game Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

#map {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 20px 0;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    border: solid #f5f5f5 2px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s ease; /* Added smooth transition */
    width: 100px; /* Ensure fixed width */
    height: 100px; /* Ensure fixed height */
}

.cell:hover {
    background: rgba(255, 255, 255, 0.2);
}

.cell img {
    width: 80%; /* Adjust the size of the images inside the cells */
    height: 80%;
}

/* CPU Mode Styles */
#cpuC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#cpuC button {
    background: #89253e;
    color: #f5f5f5;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#cpuC button:hover {
    background: #3a6186;
}

#on, #off {
    display: none;
}

/* Game Over Styles */
#gameOver-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    border: solid #89253e 2px;
    font-size: 1.2rem;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#replay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#replay {
    background: #3a6186;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
}

#replay:hover {
    background: #89253e;
}

/* Hidden Class */
.hidden {
    display: none;
}
